// Viewport

$min: 320px;
$x-small: 576px;
$small: 768px;
$medium: 1024px;
$large: 1200px;
$extra-large: 1440px;
$max: 1920px;

// Colors

$black: #000000;
$white: #ffffff;

$color-main: #f20303;
$color-hover: #bb1717;
$color-accent: #ff0a0a;

$color-title: #131516;

$color-text-dark: #6e6e6e;
$color-text: #b5b5b5;
$color-text-light: #dedede;

$color-line: #424242;
$color-bullet: #cbcbcb;

$color-disabled: #8a8a8a;

$color-background: #fafafa;

$main-transition: all 0.2s ease;
