.bottom-header {
  position: relative;
  background-color: rgba($black, 0.28);
  transition: $main-transition;

  @media (max-width: 679px) {
    display: none;
  }

  .page-header:hover & {
    background-color: rgba($black, 0.7);
  }

  .scroll & {
    display: none;
  }
}

.bottom-header__content {
  padding: 0 120px;
  display: flex;
  justify-content: space-between;

  @media (max-width: $max - 1) {
    padding: 0;
  }
}

.bottom-header__list {
  @include list-reset();
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 1440px;
  padding: 18px 0;

  @media (max-width: 1676px) {
    width: 589px;
    min-width: 0;
    margin-left: auto;
  }

  @media (max-width: 891px) {
    width: 100%;
  }
}

.bottom-header__item {
  &:nth-child(-n + 3) {
    @media (max-width: 1676px) {
      display: none;
    }
  }
}

.bottom-header__link {
  @include link-reset();
  @include main-font(16px, 16px, 1.17, 400);
  position: relative;
  color: $white;

  &--catalog {
    padding-right: 14px;
    background: url("../../img/icons/icon-arrow-menu.svg") no-repeat 100% 60%;
  }

  &::before {
    @include pseudo(0, 2px);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: $color-accent;
    transition: $main-transition;
  }

  &:hover::before,
  &:focus::before {
    width: 100%;
  }
}
