.breadcrumbs {
  position: relative;
  height: 139px;
  padding: 40px 0 80px;
  z-index: 1;

  @media (max-width: $large) {
    height: auto;
    padding: 40px 0;
  }

  @media (max-width: $small) {
    padding: 22px 0 43px;
  }
}

.breadcrumbs__list {
  @include list-reset();
}

.breadcrumbs__item {
  @include main-font(14px, 16px, 1.4, 400);
  display: inline-block;
  color: #C5C5C5;

  &:last-child {
    color: #6E6E6E;
  }

  &:nth-last-child(2) {
    @media (max-width: $small) {
      padding-left: 15px;
      background: url("../../img/icons/icon-breadcrumbs.svg") 0 50% no-repeat;
    }
  }

  &:not(:nth-last-child(2)) {
    @media (max-width: $small) {
      display: none;
    }
  }

  &:not(:last-child)::after {
    @include main-font(14px, 16px, 1.4, 400);
    content: "/";
    margin: 0 5px 0 12px;
    color: #C5C5C5;

    @media (max-width: $small) {
      display: none;
    }
  }
}

.breadcrumbs__link {
  @include link-reset();
}
