.call {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 380px;
  margin: 160px 0;
  background: url("../../img/bg-call.jpg") no-repeat 50% 50% / cover;
}

.call__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.call__title {
  @include reset();
  @include accent-font(45px, 24px, 1.75, 600);
  color: $white;
}

.call__text {
  @include reset();
  @include main-font(18px, 16px, 1.4, 400);
  margin-bottom: 28px;
  color: $color-text-light;
}

.call__field {
  display: flex;
  width: 408px;
  height: 50px;
  margin-bottom: 15px;
}

.call__field-input {
  @include input-reset();
  @include main-font(16px, 16px, 1.4, 400);
  width: 65%;
  padding: 14px 20px 14px 64px;
  background: $white url("../../img/icons/icon-phone.svg") 24px 13px no-repeat;
  color: $color-text;

  &::placeholder {
    @include main-font(16px, 16px, 1.4, 400);
    color: $color-text;
  }
}

.call__field-button {
  width: 35%;
}

.call__caption {
  @include reset();
  @include main-font(12px, 12px, 1.4, 400);
  text-align: center;
  color: $color-text-light;
}

.call__caption-link {
  @include link-reset();
  display: block;
  color: $color-accent;
}
