.center {
  margin: 160px 0;
}

.center__content {
  margin-top: 62px;
}

.center__list {
  @include list-reset();
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  gap: 11px 10px;
}

.center__item-image-wrap {
  position: relative;
  width: 100%;
  padding-bottom: 80%;
}

.center__item-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
