.contacts {
  margin: 60px 0;

  .breadcrumbs + & {
    margin: 0 0 60px;
  }
}

.contacts__list {
  @include list-reset();
  display: flex;
  margin-top: 80px;

  @media (max-width: $medium) {
    flex-wrap: wrap;
    margin-top: 36px;
  }
}

.contacts__item {
  @media (max-width: 1760px) {
    width: 25%;
  }

  @media (max-width: $medium) {
    width: 50%;
  }

  @media (max-width: 374px) {
    width: 100%;
    margin-bottom: 20px;
  }

  &:not(:last-child) {
    margin-right: 266px;

    @media (max-width: 1760px) {
      margin-right: 0;
    }
  }

  &:not(:nth-child(n + 3)) {
    @media (max-width: $medium) {
      margin-bottom: 60px;
    }

    @media (max-width: $small) {
      margin-bottom: 40px;
    }

    @media (max-width: 374px) {
      margin-bottom: 20px;
    }
  }
}

.contacts__item-image {
  margin-bottom: 13px;

  @media (max-width: $small) {
    margin-bottom: 10px;
  }
}

.contacts__item-name {
  @include reset();
  @include accent-font(27px, 20px, 1, 500);
  margin-bottom: 18px;
  color: #131516;

  @media (max-width: $small) {
    margin-bottom: 14px;
  }
}

.contacts__item-text {
  @include reset();
  @include main-font(20px, 16px, 1.4, 400);
  color: #6E6E6E;

  & + & {
    margin-top: 14px;
  }
}

.contacts__item-link {
  @include link-reset();

  &:hover,
  &:focus {
    color: $color-accent;
  }
}
