.faq {
  margin: 160px 0;

  @media (max-width: $extra-large) {
    margin: 100px 0;
  }

  @media (max-width: $large) {
    margin: 80px 0;
  }

  @media (max-width: $medium) {
    margin: 60px 0;
  }
}

.faq__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: 1040px) {
    flex-direction: column;
  }
}

.faq__list {
  @include list-reset();
  width: 796px;
  margin-top: 58px;
  border-top: 1px solid #e0e0e0;

  @media (max-width: $extra-large) {
    width: 570px;
  }

  @media (max-width: 1040px) {
    width: 796px;
  }

  @media (max-width: 876px) {
    width: 100%;
  }
}

.faq__item {
  padding: 28px 0;
  border-bottom: 1px solid #e0e0e0;

  @media (max-width: $extra-small) {
    padding: 22px 0;
  }
}

.faq__item-name {
  @include accent-font(22px, 18px, 1.22, 400);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: $color-title;
  cursor: pointer;

  .faq__item-checkbox:checked + & {
    color: $color-accent;
  }
}

.faq__item-question {
  width: 570px;

  @media (max-width: $extra-large) {
    width: 430px;
  }

  @media (max-width: 1040px) {
    width: 570px;
  }

  @media (max-width: 876px) {
    width: 81%;
  }
}

.faq__item-icon {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 4px 24px 0 0;
  border-radius: 50%;
  background-color: $white;
  transition: $main-transition;

  @media (max-width: $extra-small) {
    width: 32px;
    height: 32px;
    margin: -2px 0 0;
    background-color: $color-accent;
  }

  .faq__item-name:hover &,
  .faq__item-name:focus & {
    background-color: $color-accent;
  }

  .faq__item-checkbox:checked + .faq__item-name & {
    background-color: $color-accent;
    transform: rotate(180deg);
  }

  &::before {
    @include pseudo(20px, 1px);
    background-color: $color-accent;
    top: 50%;
    left: 50%;
    transform: translateX(-10px);

    @media (max-width: $extra-small) {
      @include pseudo(16px, 1px);
      transform: translateX(-8px);
      background-color: $white;
    }

    .faq__item-name:hover &,
    .faq__item-name:focus & {
      background-color: $white;
    }

    .faq__item-checkbox:checked + .faq__item-name & {
      background-color: $white;
    }
  }

  &::after {
    @include pseudo(1px, 20px);
    background-color: $color-accent;
    top: 50%;
    left: 50%;
    transform: translateY(-10px);

    @media (max-width: $extra-small) {
      @include pseudo(1px, 16px);
      transform: translateY(-8px);
      background-color: $white;
    }

    .faq__item-name:hover &,
    .faq__item-name:focus & {
      background-color: $white;
    }

    .faq__item-checkbox:checked + .faq__item-name & {
      display: none;
    }
  }
}

.faq__answer {
  max-height: 0;
  overflow: hidden;
  transition: $main-transition;

  @media (max-width: $extra-large) {
    width: 500px;
  }

  @media (max-width: 1040px) {
    width: 90%;
  }

  .faq__item-checkbox:checked ~ & {
    max-height: 100vh;
    margin-top: 16px;

    @media (max-width: $extra-small) {
      margin-top: 24px;
    }
  }
}

.faq__answer-text {
  @include reset();
  @include main-font(18px, 16px, 1.4, 400);
  margin-bottom: 30px;
  color: #6e6e6e;

  @media (max-width: $extra-small) {
    margin-bottom: 9px;
  }
}

.faq__answer-list {
  @include list-reset();
}

.faq__answer-item {
  @include main-font(18px, 16px, 1.4, 400);
  position: relative;
  padding-left: 17px;
  color: #6e6e6e;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &:before {
    @include pseudo(8px, 8px);
    top: 9px;
    left: 1px;
    border-radius: 50%;
    background-color: $color-accent;
  }
}

.faq__call-order {
  margin: 118px 204px 0 0;

  @media (max-width: 1800px) {
    margin: 118px auto 0;
  }

  @media (max-width: 1600px) {
    margin: 118px 0 0;
  }

  @media (max-width: 1040px) {
    width: 100%;
  }

  @media (max-width: $extra-small) {
    margin: 40px 0 0;
  }
}
