.features {
  margin: 160px 0;

  @media (max-width: $extra-large) {
    margin: 100px 0;
  }

  @media (max-width: $large) {
    margin: 80px 0;
  }

  @media (max-width: $medium) {
    margin: 60px 0;
  }
}

.features__list {
  @include list-reset();
  display: flex;
  justify-content: space-between;

  @media (max-width: $small) {
    flex-direction: column;
  }
}

.features__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 240px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $extra-large) {
    height: 200px;
  }

  @media (max-width: $medium) {
    justify-content: flex-start;
    padding-top: 39px;
  }

  @media (max-width: $small) {
    justify-content: center;
    width: 100%;
    margin-bottom: 12px;
    padding-top: 0;
  }

  @media (max-width: $extra-small) {
    height: 124px;
    margin-bottom: 4px;
  }

  &--time {
    background-image: url("../../img/feature-1.jpg");
  }

  &--guarantee {
    background-image: url("../../img/feature-2.jpg");
  }

  &--delivery {
    background-image: url("../../img/feature-3.jpg");
  }
}

.features__name {
  @include reset();
  @include accent-font(30px, 16px, 1.1, 600);
  position: relative;
  max-width: 390px;
  padding-left: 91px;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 0.02em;

  @media (max-width: $extra-large) {
    width: 280px;
    padding-left: 70px;
  }

  @media (max-width: $large) {
    padding-left: 59px;
  }

  @media (max-width: $medium) {
    width: 80%;
    padding-top: 58px;
    padding-left: 0;
    text-align: center;
  }

  @media (max-width: $small) {
    width: 280px;
    padding-top: 0;
    padding-left: 59px;
    text-align: left;
  }

  @media (max-width: $extra-small) {
    width: 235px;
    padding-left: 47px;
  }

  &::before {
    @include pseudo(58px, 58px);
    display: block;
    top: 0;
    left: 0;
    background-position: 0 0;
    background-size: contain;
    background-repeat: no-repeat;

    @media (max-width: $large) {
      @include pseudo(47px, 47px);
    }

    @media (max-width: $medium) {
      left: 50%;
      transform: translateX(-50%);
    }

    @media (max-width: $small) {
      left: 0;
      transform: translateX(0);
    }

    @media (max-width: $extra-small) {
      @include pseudo(36px, 36px);
    }
  }

  .features__item--time &::before {
    background-image: url("../../img/icons/icon-time.svg");
  }

  .features__item--guarantee &::before {
    background-image: url("../../img/icons/icon-guarantee.svg");
  }

  .features__item--delivery &::before {
    background-image: url("../../img/icons/icon-delivery.svg");
  }
}

.features__text {
  @include accent-font(15px, 13px, 1.1, 500);
  display: block;
  margin: 8px 0 0 0;
  color: $white;
  text-transform: uppercase;
}
