.header-catalog {
  display: none;
  padding: 57px 0 67px;
  background-color: $white;
  box-shadow: 0px 6px 10px rgba($black, 0.13);

  &.show {
    display: block;

    @media (max-width: 1601px) {
      display: none;
    }
  }
}

.header-catalog__content {
  position: relative;
}

.header-catalog__button-close {
  @include button-reset();
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -38px;
  right: -10px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.header-catalog__button-close-icon {
  stroke: #bdbdbd;
  transition: all 0.3s ease;

  .header-catalog__button-close:hover &,
  .header-catalog__button-close:focus & {
    stroke: #828282;
  }
}

.header-catalog__list {
  @include list-reset();
  position: relative;
  display: none;
  flex-direction: column;
  align-content: space-between;
  flex-wrap: wrap;
  height: 100%;

  &.show {
    display: flex;
  }

  &:before {
    @include pseudo(1px, calc(100% + 60px));
    top: -30px;
    // 288px - column width; 4 - columns count; 4 * 288px - all taken space
    // 100% - (4 * 288px) - all free space
    // (100% - (4 * 288px)) / 6 - half of free space between any two columns
    left: calc(288px + (100% - (4 * 288px)) / 6);
    background-color: #f2f2f2;
  }

  &:after {
    @include pseudo(1px, calc(100% + 60px));
    top: -30px;
    right: calc(288px + (100% - (4 * 288px)) / 6);
    background-color: #f2f2f2;
  }
}

.header-catalog__item {
  width: 288px;
  margin-bottom: 15px;
}

.header-catalog__link {
  @include link-reset();
  @include main-font(18px, 18px, 1.4, 400);
  color: #131516;

  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.header-catalog__sublist {
  @include list-reset();
}

.header-catalog__subitem {
  margin-top: 15px;
}

.header-catalog__sublink {
  @include link-reset();
  @include main-font(18px, 18px, 1.4, 400);
  color: #a4a4a4;

  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.header-catalog__divider {
  position: absolute;
  top: -30px;
  left: 50%;
  width: 1px;
  height: calc(100% + 60px);
  background-color: #f2f2f2;
}
