.info {
  margin: 160px 0;

  @media (max-width: $extra-large) {
    margin: 100px 0;
  }

  @media (max-width: $large) {
    margin: 80px 0;
  }

  @media (max-width: $medium) {
    margin: 60px 0;
  }
}

.info__content {
  display: flex;
  justify-content: space-between;

  @media (max-width: $medium) {
    flex-direction: column;
  }
}

.info__description {
  width: 45%;

  @media (max-width: 1650px) {
    width: 56%;
  }

  @media (max-width: $medium) {
    width: 100%;
    margin-bottom: 40px;
  }
}

.info__name {
  @include accent-font(55px, 28px, 1.175, 700);
  margin-bottom: 40px;
}

.info__text {
  @include reset();
  @include main-font(18px, 16px, 1.4, 400);
  margin-bottom: 40px;
  color: #6E6E6E;

  @media (max-width: $medium) {
    width: 80%;
  }

  @media (max-width: $small) {
    width: 90%;
  }

  @media (max-width: $extra-small) {
    width: 100%;
  }

  span {
    display: block;
  }

  span + span {
    margin-top: 28px;

    @media (max-width: $extra-small) {
      margin-top: 10px;
    }
  }
}

.info__call-order {
  margin-right: 212px;

  @media (max-width: 1650px) {
    margin: auto 0;
  }

  @media (max-width: $medium) {
    margin: auto;
  }
}

.info__banner {
  margin: 66px 182px 0 0;

  @media (max-width: 1650px) {
    margin: auto 0;
  }

  @media (max-width: $medium) {
    margin: auto;
  }
}
