.mobile-navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 10px 90px;
  background: #2b2a2a;
  overflow-y: auto;

  &::-webkit-scrollbar-track {
    background-color: #525252;
  }

  &::-webkit-scrollbar {
    width: 5px;
    background-color: #525252;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-hover;
  }
}

.mobile-navigation__list {
  @include list-reset();
  margin-bottom: 45px;
}

.mobile-navigation__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #525252;
}

.mobile-navigation__link {
  @include link-reset();
  @include main-font(18px, 18px, 1.4, 400);
  width: 100%;
  padding: 18px 0 18px 13px;
  color: #ffffff;

  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.mobile-navigation__more-link {
  @include link-reset();
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 25px;

  &::before {
    @include pseudo(1px, 39px);
    background-color: #525252;
    top: -7px;
    left: -5px;
  }
}

.mobile-navigation__more-link-icon {
  fill: transparent;
  stroke: #ffffff;
  transition: $main-transition;

  .mobile-navigation__more-link:hover &,
  .mobile-navigation__more-link:focus & {
    stroke: $color-accent;
  }
}

.mobile-navigation__call {
  margin-left: 13px;
  margin-bottom: 40px;
}

.mobile-navigation__call-link {
  @include link-reset();
  @include main-font(18px, 18px, 1.2, 400);
  margin-bottom: 19px;
  letter-spacing: 0.02em;
  color: $white;

  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.mobile-navigation__call-button {
  padding: 15px 17px;
}

.mobile-navigation__text {
  @include reset();
  @include main-font(14px, 14px, 16px, 400);
  margin-left: 13px;
  color: #b5b5b5;

  span {
    display: block;
    margin-top: 8px;
  }
}
