.navigation {
  margin-top: 8px;

  @media (max-width: $medium) {
    margin-top: 0;
  }
}

.navigation__list {
  @include list-reset();
  display: flex;

  @media (max-width: $small) {
    flex-direction: column;
  }
}

.navigation__item {
  overflow: hidden;
  flex-shrink: 0;

  @media (max-width: $small) {
    border-bottom: 1px solid #474747;
  }

  &:nth-child(1) {
    width: 25.3%;

    @media (max-width: $medium) {
      width: 34%;
    }

    @media (max-width: $small) {
      width: 100%;
    }
  }

  &:nth-child(2) {
    width: 40%;

    @media (max-width: $medium) {
      width: 34%;
    }

    @media (max-width: $small) {
      width: 100%;
    }
  }

  &:nth-child(3) {
    flex-grow: 1;

    @media (max-width: $medium) {
      flex-grow: 0;
      margin-left: auto;
    }

    @media (max-width: $small) {
      width: 100%;
      margin-left: 0;
    }
  }
}

.navigation__item-name {
  @include reset();
  @include main-font(15px, 15px, 1.4, 400);
  position: relative;
  display: block;
  margin-bottom: 22px;
  text-transform: uppercase;
  color: #828282;
  cursor: pointer;
  transition: all 0.3s ease;

  &--group {
    display: none;

    @media (max-width: $small) {
      display: block;
    }
  }

  @media (max-width: $small) {
    margin: 19px 0;
    padding-left: 14px;
  }

  .navigation__sublist--group & {
    @media (max-width: $small) {
      display: none;
    }
  }
}

.navigation__item-icon {
  display: none;

  @media (max-width: $small) {
    display: block;
    position: absolute;
    top: 50%;
    right: 34px;
    transform: translateY(-50%);
    fill: transparent;
    stroke: $white;
  }

  .navigation__item-checkbox:checked ~ .navigation__item-name & {
    transform: rotate(180deg);
    transition: all 0.3s ease;
  }

  .navigation__item-name:hover &,
  .navigation__item-name:focus & {
    stroke: $color-accent;
  }
}

.navigation__sublist {
  @include list-reset();
  color: #3c3c3c;

  @media (max-width: $small) {
    max-height: 0;
    padding-left: 14px;
    color: transparent;
    overflow: hidden;
  }

  .navigation__item-checkbox:checked ~ &,
  .navigation__item-checkbox:checked ~ .navigation__sublist & {
    max-height: 100vh;
    color: $white;
  }

  .navigation__sublist--group & {
    margin-bottom: 28px;

    @media (max-width: $small) {
      margin-bottom: 0;
    }
  }
}

.navigation__sublist-link {
  @include link-reset();
  @include main-font(16px, 16px, 1.2, 400);
  margin-bottom: 15px;
  color: $white;

  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.navigation__sublist-item {
  @include main-font(16px, 16px, 1.2, 400);
  color: $white;

  .navigation__sublist--group & {
    margin-bottom: 16px;
  }
}
