.rating {
  display: flex;
  align-items: center;
}

.rating__title {
  @include main-font(14px, 12px, 1, 400);
  margin-right: 13px;
  letter-spacing: 0.02em;
  color: #828282;

  @media (max-width: $extra-small) {
    margin-right: 5px;
  }
}

.rating__label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:not(:first-child) {
    margin-right: 4px;

    @media (max-width: $extra-small) {
      margin-right: 2px;
    }
  }
}

.rating__label-icon {
  fill: transparent;
  transition: all 0.3s ease;

  @media (max-width: $extra-small) {
    width: 10px;
    height: auto;
  }

  .rating__input:hover ~ .rating__label &,
  .rating__input:focus ~ .rating__label &,
  .rating__input:checked ~ .rating__label & {
    fill: #FFA318;
  }
}

.rating__mark {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 5px;
}

.rating__count {
  @include reset();
  @include main-font(16px, 14px, 1.4, 400);
  color: #575757;
}
