.reviews-block {
  margin: 160px 0;

  @media (max-width: $extra-large) {
    margin: 100px 0;
  }

  @media (max-width: $large) {
    margin: 80px 0;
  }

  @media (max-width: $medium) {
    margin: 60px 0;
  }
}

.reviews-block__content {
  margin-top: 50px;

  @media (max-width: $small) {
    margin-top: 40px;
  }
}

.reviews-block__list {
  @include list-reset();
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reviews-block__item {
  width: 32%;

  @media (max-width: $large) {
    width: 48%;
    margin-bottom: 30px;
  }

  @media (max-width: $small) {
    width: 100%;
    margin-bottom: 30px;
  }

  &:nth-child(n + 3) {
    @media (max-width: $large) {
      display: none;
    }

    @media (max-width: $small) {
      display: block;
    }
  }
}
