.review-banner {
  display: flex;
  align-items: center;
  min-height: 315px;
  padding: 56px 46px;
  border-radius: 2px;
  background: url("../../img/icons/icon-gears-2.svg") no-repeat 100% 13px, linear-gradient(109.02deg, #FF0202 -1.93%, #3C43EA 97.11%);

  @media (max-width: $small) {
    padding: 27px 18px;
  }

  @media (max-width: 375px) {
    background: url("../../img/icons/icon-gears-2.svg") no-repeat 135% 13px, linear-gradient(109.02deg, #FF0202 -1.93%, #3C43EA 97.11%);
  }
}

.review-banner__lead {
  @include reset();
  @include accent-font(30px, 24px, 1.14, 500);
  width: 82%;
  margin-bottom: 32px;
  color: $white;
}

.review-banner__button {
  padding: 18px 35px;
  border: none;

  @media (max-width: $extra-small) {
    padding: 16px 19px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
    color: $color-accent;
    background-color: $white;
    border: none;
  }
}
