.title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--text {
    align-items: flex-start;

    @media (max-width: $extra-large) {
      flex-direction: column;
    }
  }
}

.title__name {
  @include reset();
  @include accent-font(60px, 28px, 1.05, 600);
  color: $color-title;

  span {
    color: $color-accent;
  }

  br {
    @media (max-width: $extra-small) {
      display: none;
    }
  }
}

.title__text {
  @include reset();
  @include main-font(18px, 16px, 1.4, 400);
  width: 40%;
  margin-top: 12px;
  color: $color-text-dark;

  .title--text & {
    @media (max-width: $extra-large) {
      width: 60%;
    }

    @media (max-width: $large) {
      width: 70%;
    }

    @media (max-width: $small) {
      width: 93%;
    }
  }
}

.team__buttons {
  display: flex;
  justify-content: space-between;
  width: 108px;

  @media (max-width: $extra-small) {
    display: none;
  }
}

.title__button {
  @include button-reset();
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid $color-accent;

  &--disabled {
    border: 1px solid $color-disabled;
    opacity: 0.5;
    cursor: default;
  }

  &:not(.title__button--disabled):hover,
  &:not(.title__button--disabled):focus {
    background-color: $color-accent;
  }
}

.title__button-icon {
  stroke: $color-title;
  fill: transparent;

  .title__button--disabled & {
    stroke: $color-disabled;
  }

  .title__button--prev & {
    transform: rotate(180deg);
  }

  .title__button:not(.title__button--disabled):hover &,
  .title__button:not(.title__button--disabled):focus & {
    stroke: $white;
  }
}

.title__link {
  @include link-reset();
  @include main-font(13px, 13px, 1.2, 600);
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $color-accent;

  &--desktop {
    @media (max-width: $small) {
      display: none;
    }
  }

  &--mobile {
    display: none;

    @media (max-width: $small) {
      display: flex;
      margin: 40px auto 0;
    }
  }
}

.title__link-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  margin-left: 22px;
  border-radius: 50%;
  border: 1px solid $color-accent;
  transition: $main-transition;

  .title__link:hover &,
  .title__link:focus & {
    background-color: $color-accent;
  }
}

.title__link-icon {
  stroke: $color-title;
  fill: transparent;

  .title__link:hover &,
  .title__link:focus & {
    stroke: $white;
  }
}
