.top-info {
  position: relative;
  min-height: 703px;
  margin-top: -139px;
  margin-bottom: 60px;
  padding: 139px 0 84px;
  background-color: #fafafa;

  @media (max-width: 1172px) {
    margin-top: -139px;
    padding: 139px 0 0;
  }

  .page__container {
    position: relative;
    z-index: 1;
  }
}

.top-info__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 50%;
  background-position: 50% 50%;
  background-size: cover;

  @media (max-width: 1172px) {
    background-image: none !important;
  }
}

.top-info__content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1172px) {
    flex-direction: column;
    margin: 0 -40px;
  }

  @media (max-width: $extra-small) {
    margin: 0 -10px;
  }
}

.top-info__description {
  width: 50%;

  @media (max-width: 1172px) {
    width: 100%;
    margin-bottom: 60px;
    padding: 0 40px;
  }

  @media (max-width: $extra-small) {
    padding: 0 10px;
  }
}

.top-info__name {
  @include accent-font(70px, 32px, 1.02, 600);
  margin-bottom: 28px;
  width: 95%;

  @media (max-width: $extra-small) {
    margin-bottom: 17px;
  }
}

.top-info__text {
  @include reset();
  @include main-font(18px, 16px, 1.4, 400);
  width: 77%;
  margin-bottom: 50px;
  color: #6E6E6E;

  @media (max-width: 1172px) {
    width: 80%;
    margin-bottom: 30px;
  }

  @media (max-width: $small) {
    width: 90%;
  }

  @media (max-width: $extra-small) {
    width: 100%;
    margin-bottom: 20px;
  }

  span {
    display: block;
  }

  span + span {
    margin-top: 10px;
  }
}

.top-info__banner-wrap {
  margin: 0 203px 0 0;

  @media (max-width: 1800px) {
    margin: auto;
  }

  @media (min-width: 1173px) {
    background-image: none !important;
  }

  @media (max-width: 1172px) {
    width: 100%;
    padding: 116px 0 84px;
    background-position: 50% 50%;
    background-size: cover;
  }
}

.top-info__banner {
  @media (max-width: 1172px) {
    margin: auto;
  }
}
