.top-footer {
  background: #2b2a2a;
}

.top-footer__content {
  display: flex;
  justify-content: space-between;
  padding: 68px 0;

  @media (max-width: $medium) {
    flex-direction: column;
  }

  @media (max-width: $small) {
    padding: 0;
    padding-bottom: 30px;
  }
}

.top-footer__column-left {
  width: 24%;

  @media (max-width: 1600px) {
    display: none;
  }
}

.top-footer__logo {
  width: 283px;
}

.top-footer__logo-link {
  @include link-reset();
  margin-bottom: 26px;
}

.top-footer__logo-text {
  @include reset();
  @include main-font(14px, 14px, 1.2, 400);
  color: #979797;
}

.top-footer__column-center {
  width: 54.3%;

  @media (max-width: 1600px) {
    flex-grow: 1;
    width: auto;
    margin-bottom: 20px;
  }

  @media (max-width: $small) {
    width: 100%;
    margin-bottom: 22px;
  }
}

.top-footer__column-right {
  width: 21.7%;

  @media (max-width: 1600px) {
    width: 260px;
  }

  @media (max-width: $medium) {
    width: 68%;
  }

  @media (max-width: $small) {
    width: 100%;
  }
}
