.vacancy {
  position: relative;
  padding: 110px 0 108px;
  background-color: #fafafa;

  @media (max-width: $large) {
    padding: 60px 0 80px;
  }

  @media (max-width: $medium) {
    padding: 0;
  }
}

.vacancy__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50%;
  left: 0;
  background-position: 50% 50%;
  background-size: cover;

  @media (max-width: $medium) {
    background-image: none !important;
  }
}

.vacancy__content {
  display: flex;

  @media (max-width: $medium) {
    flex-direction: column;
    margin: 0 -40px;
  }

  @media (max-width: $extra-small) {
    margin: 0 -10px;
  }
}

.vacancy__banner-wrap {
  width: 50%;

  @media (max-width: $medium) {
    width: 100%;
  }

  @media (min-width: $medium + 1) {
    height: 275px;
    background-image: none !important;
  }

  @media (max-width: $medium) {
    height: 274px;
  }
}

.vacancy__content-wrap  {
  width: 50%;

  @media (max-width: $medium) {
    width: calc(100% - 80px);
    margin: 60px 40px;
  }

  @media (max-width: $extra-small) {
    width: calc(100% - 20px);
    margin: 60px 10px;
  }
}

.vacancy__form {
  width: 548px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 1600px) {
    width: 400px;
  }

  @media (max-width: 1330px) {
    margin-right: 0;
  }

  @media (max-width: $large) {
    margin-right: auto;
  }

  @media (max-width: $medium) {
    width: 548px;
  }

  @media (max-width: 679px) {
    width: 100%;
  }
}

.vacancy__content-title {
  @include reset();
  @include accent-font(38px, 28px, 1.2, 500);
  margin-bottom: 32px;
  color: #131516;

  span {
    color: $color-accent;
  }
}

.vacancy__button {
  margin: 40px 0 20px;
  padding: 16px 85px;

  @media (max-width: 375px) {
    width: 100%;
  }
}

.vacancy__caption {
  @include reset();
  @include main-font(12px, 12px, 1.6, 300);
  width: 280px;
  color: #828282;
}

.vacancy__caption-link {
  transition: $main-transition;

  &:hover,
  &:focus {
    color: #131516;
  }
}
