doctype html
html(lang="ru")

  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./css/style.css")
    title Мастак. Ошибка 404

  body.page
    include layout/header.pug

    main.page-main
      section.not-found
        .page__container
          .not-found__wrapper
            .not-found__image-wrap
              img.not-found__image(src="img/404.png" alt="Ошибка 404")
            p.not-found__title Cтраница не найдена
            p.not-found__text Страница устарела, удалена или не существовала вовсе
            a.button.not-found__button(href="") Перейти на главную

    include layout/footer.pug

    script(src="js/swiper-bundle.min.js")
    script(src="js/fslightbox.js")
    script(src="js/index.js")

    .svg-library
      include ../img/sprite.svg
