doctype html
html(lang="ru")

  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./css/style.css")
    title Мастак. Производитель

  body.page
    include layout/header.pug

    main.page-main
      .breadcrumbs
        .page__container
          ul.breadcrumbs__list
            li.breadcrumbs__item
              a.breadcrumbs__link(href="#") Главная
            li.breadcrumbs__item
              a.breadcrumbs__link Ремонт садовой техники
            li.breadcrumbs__item
              a.breadcrumbs__link Мотоблоки

      section.top-info
        .top-info__bg(style="background-image: url(/img/bg-top-info-3.jpg)")
        .page__container
          .top-info__content
            .top-info__description
              .title.top-info__title
                p.title__name.top-info__name Ремонт
                  = " "
                  span бензопил
                  br
                  = " "
                  | Echo
              p.top-info__text
                span Помимо этого, устройство можно применять для перевозки тяжелых грузов, а также уборки заснеженных территорий. Во время использования мотоблок часто подвергается огромным нагрузкам и работает в очень неблагоприятных условиях.
                span В связи с этим, следует делать своевременное техническое обслуживание, а иногда даже ремонт мотоблока. Для этого лучше всего обратиться к профессионалам, имеющим необходимые инструменты, оборудование, а также достаточный опыт.
              .title.top-info__title
                a.title__link.top-info___link(href="#") О компании
                  .title__link-arrow
                    svg.title__link-icon(width="16", height="11")
                      use(xlink:href="img/sprite.svg#icon-arrow")

      section.team
        .page__container
          .title.team__header
            p.title__name.team__name Наша
              = " "
              span команда
            .title__buttons.team__buttons
              button.title__button.title__button--prev.team__button.team__button--prev(type="button", aria-label="Предыдущий слайд")
                svg.title__button-icon(width="16", height="11")
                  use(xlink:href="img/sprite.svg#icon-arrow")
              button.title__button.title__button--next.team__button.team__button--next(type="button", aria-label="Следующий слайд")
                svg.title__button-icon(width="16", height="11")
                  use(xlink:href="img/sprite.svg#icon-arrow")
          .team__container.swiper-container
            ul.team__list.swiper-wrapper
              li.team__item.swiper-slide
                .team__image-wrap
                  img.team__image(src="img/team-1.jpg" alt="Алексей Владимирович")
                p.team__item-practice Опыт 10 лет
                p.team__item-name Алексей Владимирович
                p.team__item-post Мастер по ремонту садовой техники
              li.team__item.swiper-slide
                .team__image-wrap
                  img.team__image(src="img/team-2.jpg" alt="Виктор Сергеев")
                p.team__item-practice Опыт 20 лет
                p.team__item-name Виктор Сергеев
                p.team__item-post Директор
              li.team__item.swiper-slide
                .team__image-wrap
                  img.team__image(src="img/team-3.jpg" alt="Наталья Николаевна ")
                p.team__item-practice Опыт 15 лет
                p.team__item-name Наталья Николаевна
                p.team__item-post Менеджер
              li.team__item.swiper-slide
                .team__image-wrap
                  img.team__image(src="img/team-4.jpg" alt="Дмитрий Петрович")
                p.team__item-practice Опыт 10 лет
                p.team__item-name Дмитрий Петрович
                p.team__item-post Мастер по ремонту сварочного оборудования
              li.team__item.swiper-slide
                .team__image-wrap
                  img.team__image(src="img/team-5.jpg" alt="Федор Григорьевич")
                p.team__item-practice Опыт 5 лет
                p.team__item-name Федор Григорьевич
                p.team__item-post Мастер по ремонту садовой техники

      section.center
        .center__header
          .page__container
            .title.center__title
              p.title__name.center__name Наш
                = " "
                span сервисный
                  br
                  = " "
                  | центр
              a.title__link.title__link--desktop.center__link(href="#") О сервисе
                .title__link-arrow
                  svg.title__link-icon(width="16", height="11")
                    use(xlink:href="img/sprite.svg#icon-arrow")
        .center__content
          ul.center__list
            li.center__item
              .center__item-image-wrap
                img.center__item-image(width="471" height="380" src="img/center-1.jpg" alt="Сервисный центр «Мастак»")
            li.center__item
              .center__item-image-wrap
                img.center__item-image(width="471" height="380" src="img/center-2.jpg" alt="Сервисный центр «Мастак»")
            li.center__item
              .center__item-image-wrap
                img.center__item-image(width="471" height="380" src="img/center-3.jpg" alt="Сервисный центр «Мастак»")
            li.center__item
              .center__item-image-wrap
                img.center__item-image(width="471" height="380" src="img/center-4.jpg" alt="Сервисный центр «Мастак»")
            li.center__item
              .center__item-image-wrap
                img.center__item-image(width="471" height="380" src="img/center-5.jpg" alt="Сервисный центр «Мастак»")
            li.center__item
              .center__item-image-wrap
                img.center__item-image(width="471" height="380" src="img/center-6.jpg" alt="Сервисный центр «Мастак»")
            li.center__item
              .center__item-image-wrap
                img.center__item-image(width="471" height="380" src="img/center-7.jpg" alt="Сервисный центр «Мастак»")
            li.center__item
              .center__item-image-wrap
                img.center__item-image(width="471" height="380" src="img/center-8.jpg" alt="Сервисный центр «Мастак»")
        .center__footer
          .page__container
            .title.center__title
              a.title__link.title__link--mobile.center__link(href="#") О сервисе
                .title__link-arrow
                  svg.title__link-icon(width="16", height="11")
                    use(xlink:href="img/sprite.svg#icon-arrow")

      section.info
        .page__container
          .info__content
            .info__description
              .title.top-info__title
                p.title__name.info__name
                  span Сервисный центр
                  = " "
                  | по
                  br
                  = " "
                  | ремонту садовой техники
              p.info__text
                span Мотоблок – это надежный помощник, который предназначен для выполнения самых разнообразных сельскохозяйственных работ, таких как обработка почвы, посадка и сбор урожая, окучивание огородных растений. Помимо этого, устройство можно применять для перевозки тяжелых грузов, а также уборки заснеженных территорий. Во время использования мотоблок часто подвергается огромным нагрузкам и работает в очень неблагоприятных условиях.
                span В связи с этим, следует делать своевременное техническое обслуживание, а иногда даже ремонт мотоблока. Для этого лучше всего обратиться к профессионалам, имеющим необходимые инструменты, оборудование, а также достаточный опыт
              .title.info__title
                a.title__link.info___link(href="#") Услуги
                  .title__link-arrow
                    svg.title__link-icon(width="16", height="11")
                      use(xlink:href="img/sprite.svg#icon-arrow")
            .banner.info__banner
              p.banner__title Закажите звонок мастера
              p.banner__text Перезвоним в течении 10 минут
              button.button.button--light.banner__button(typr="button") Заказать звонок

      section.motive
        .page__container
          .motive__wrapper
            .motive__image-wrap
              img.motive__image(width="796" height="766" src="img/motive.jpg" alt="Сервисный центр «Мастак»")
            .motive__content
              p.motive__title
                span 4 причины
                = " "
                | выбрать сервисный центр
                = " "
                span “МАСТАК”
              ul.motive__list
                li.motive__item.motive__item--1
                  p.motive__item-title Низкие цены
                  p.motive__item-text Демократичная стоимость услуг – еще одно наше конкурентное преимущество. Для удобства клиентов работаем за наличный и безналичный расчет.
                li.motive__item.motive__item--2
                  p.motive__item-title Бесплатная доставка в сервис
                  p.motive__item-text У нас есть все для профессионального ремонта техники – опытные специалисты
                li.motive__item.motive__item--3
                  p.motive__item-title Оперативная работа
                  p.motive__item-text В зависимости от сложности работ на возвращение работоспособности техники требуется от 15 минут до одного рабочего дня
                li.motive__item.motive__item--4
                  p.motive__item-title Качественное предоставление услуг
                  p.motive__item-text У нас есть все для профессионального ремонта техники – опытные специалисты

      section.cert
        .page__container
          .title.cert__title
            p.title__name.cert__name
              span Сертификаты
            a.title__link.title__link--desktop.cert__link(href="#") Все сертификаты
              .title__link-arrow
                svg.title__link-icon(width="16", height="11")
                  use(xlink:href="img/sprite.svg#icon-arrow")
          .cert__container.swiper-container
            ul.cert__list.swiper-wrapper
              li.cert__item.swiper-slide
                .cert__item-image-wrap
                  img.cert__item-image(src="img/cert-1.jpg" alt="Сертификат")
              li.cert__item.swiper-slide
                .cert__item-image-wrap
                  img.cert__item-image(src="img/cert-2.jpg" alt="Сертификат")
              li.cert__item.swiper-slide
                .cert__item-image-wrap
                  img.cert__item-image(src="img/cert-3.jpg" alt="Сертификат")
              li.cert__item.swiper-slide
                .cert__item-image-wrap
                  img.cert__item-image(src="img/cert-4.jpg" alt="Сертификат")
              li.cert__item.swiper-slide
                .cert__item-image-wrap
                  img.cert__item-image(src="img/cert-5.jpg" alt="Сертификат")
          .title.cert__title
            a.title__link.title__link--mobile.cert__link(href="#") Все сертификаты
              .title__link-arrow
                svg.title__link-icon(width="16", height="11")
                  use(xlink:href="img/sprite.svg#icon-arrow")

      section.reviews-block
        .page__container
          .title.reviews-block__title
            p.title__name.reviews-block__name
              span Отзывы
            a.title__link.title__link--desktop.reviews-block__link(href="#") Все отзывы
              .title__link-arrow
                svg.title__link-icon(width="16", height="11")
                  use(xlink:href="img/sprite.svg#icon-arrow")
          .reviews-block__content
            ul.reviews-block__list
              li.reviews-block__item
                article.review
                  .review__top
                    .review__user-photo-wrap
                      img.review__user-photo(src="img/review-user-1.png" alt="Михаил Петрович")
                    .review__info
                      time.review__date(datetime="2020-10-05") 05.10.2020г
                      p.review__user-name Михаил Петрович
                      .review__rating
                        .review__rating-stars
                          span.review__rating-stars-fill(style="width: 80%")
                        span.review__rating-mark 4/5
                  .review__bottom
                    p.review__text “Когда я пришел в компанию, меня приятно поразила обстановка в этом сервисе. Когда меня хорошо обслужил мастер Александр, денег взяли меньше, нежели с меня брали в другом сервисе, профессионально и быстро, не всовывали лишние услуги. Мне очень понравилось.”
              li.reviews-block__item
                article.review
                  .review__top
                    .review__user-photo-wrap
                      img.review__user-photo(src="img/review-user-2.png" alt="Александр Шолин")
                    .review__info
                      time.review__date(datetime="2020-10-05") 05.10.2020г
                      p.review__user-name Александр Шолин
                      .review__rating
                        .review__rating-stars
                          span.review__rating-stars-fill(style="width: 60%")
                        span.review__rating-mark 3/5
                  .review__bottom
                    p.review__text “Когда я пришел в компанию, меня приятно поразила обстановка в этом сервисе. Когда меня хорошо обслужил мастер Александр, денег взяли меньше, нежели с меня брали в другом сервисе, профессионально и быстро, не всовывали лишние услуги. Мне очень понравилось.”
              li.reviews-block__item
                article.review
                  .review__top
                    .review__user-photo-wrap
                      img.review__user-photo(src="img/review-user-3.png" alt="Петр Павлов")
                    .review__info
                      time.review__date(datetime="2020-10-05") 05.10.2020г
                      p.review__user-name Петр Павлов
                      .review__rating
                        .review__rating-stars
                          span.review__rating-stars-fill(style="width: 100%")
                        span.review__rating-mark 5/5
                  .review__bottom
                    p.review__text “Когда я пришел в компанию, меня приятно поразила обстановка в этом сервисе. Когда меня хорошо обслужил мастер Александр, денег взяли меньше, нежели с меня брали в другом сервисе, профессионально и быстро, не всовывали лишние услуги. Мне очень понравилось.”
          .title.reviews-block__title
            a.title__link.title__link--mobile.reviews-block__link(href="#") Все отзывы
              .title__link-arrow
                svg.title__link-icon(width="16", height="11")
                  use(xlink:href="img/sprite.svg#icon-arrow")

    include layout/footer.pug

    script(src="js/swiper-bundle.min.js")
    script(src="js/fslightbox.js")
    script(src="js/index.js")

    .svg-library
      include ../img/sprite.svg
