doctype html
html(lang="ru")

  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./css/style.css")
    title Мастак. Ремонт электроинструмента

  body.page
    header.page-header(style="background-color: black")
      .top-header
        .page__container
          .top-header__content
            .top-header__logo
              a.top-header__logo-link(href="")
                img.top-header__logo-image(width="171" height="40" src="img/icons/icon-logo.svg" alt="Логотип компании Мастак")
              p.top-header__logo-text Мы работаем с 1995 года
                span Работаем по Москве и Московской области

    main.page-main
      .page__container
        ul(style='margin-top: 40px')
          li
            a(href='main.html', target="_blank") main.html ---- Главная
          li
            a(href='main-service.html', target="_blank") main-service.html ---- Услуга
          li
            a(href='extra-service.html', target="_blank") extra-service.html ---- Подуслуга
          li
            a(href='brand.html', target="_blank") brand.html ---- Производитель
          li
            a(href='cert.html', target="_blank") cert.html ---- Сертификаты
          li
            a(href='reviews.html', target="_blank") reviews.html ---- Отзывы
          li
            a(href='contacts.html', target="_blank") contacts.html ---- Контакты
          li
            a(href='price.html', target="_blank") price.html ---- Цены
          li
            a(href='about.html', target="_blank") about.html ---- О сервисе
          li
            a(href='404.html', target="_blank") 404.html ---- 404
          li(style='margin-top: 40px')
            a Всплывающие окна
            ul
              li
                a(href='popup-data.html' target='_blank') popup-data.html ---- Оставить свои данные
              li
                a(href='popup-review.html' target='_blank') popup-review.html ---- Оставить отзыв
