doctype html
html(lang="ru")

  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./css/style.css")
    title Мастак. Ремонт электроинструмента

  body.page
    include layout/main-header.pug

    main.page-main
      section.promo
        .promo__container.swiper-container
          ul.promo__list.swiper-wrapper
            li.promo__item.swiper-slide
              .promo__content
                .page__container
                  p.promo__title Ремонт электро&shy;инструмента
                   br
                   = " "
                   | строительной и садовой
                   br
                   = " "
                   | техники
                  p.promo__text Полный комплекс услуг по диагностике, сервисному обслуживанию и профессиональному ремонту по адекватным ценам
                  button.button.promo__button.open-data-popup(type="button") Оставить заявку
            li.promo__item.swiper-slide
              .promo__content
                .page__container
                  p.promo__title Ремонт электро&shy;инструмента
                   br
                   = " "
                   | строительной и садовой
                   br
                   = " "
                   | техники
                  p.promo__text Полный комплекс услуг по диагностике, сервисному обслуживанию и профессиональному ремонту по адекватным ценам
                  button.button.promo__button.open-data-popup(type="button") Оставить заявку
            li.promo__item.swiper-slide
              .promo__content
                .page__container
                  p.promo__title Ремонт электро&shy;инструмента
                   br
                   = " "
                   | строительной и садовой
                   br
                   = " "
                   | техники
                  p.promo__text Полный комплекс услуг по диагностике, сервисному обслуживанию и профессиональному ремонту по адекватным ценам
                  button.button.promo__button.open-data-popup(type="button") Оставить заявку
        .promo__bullets.swiper-pagination

      section.service
        .page__container
          .title.title--text.service__title
            p.title__name.service__name Ремонт
              br
              = " "
              span электроинструмента
            p.title__text.service__text Ниже представлен каталог электроинструмента по которым проводим диагностику и ремонтные работы.
          ul.service__list
            li.service__item
              a.service__link(href="#")
                .service__image-wrap
                  img.service__image(src="img/device-1.jpg" alt="Перфораторы")
                p.service__item-name Перфораторы
            li.service__item
              a.service__link(href="#")
                .service__image-wrap
                  img.service__image(src="img/device-2.jpg" alt="Отбойные молотки")
                p.service__item-name Отбойные молотки
            li.service__item
              a.service__link(href="#")
                .service__image-wrap
                  img.service__image(src="img/device-3.jpg" alt="Электролобзики")
                p.service__item-name Электролобзики
            li.service__item
              a.service__link(href="#")
                .service__image-wrap
                  img.service__image(src="img/device-4.jpg" alt="Электродрели")
                p.service__item-name Электродрели
            li.service__item
              a.service__link(href="#")
                .service__image-wrap
                  img.service__image(src="img/device-5.jpg" alt="Шуруповерты")
                p.service__item-name Шуруповерты
          button.button.button--light.service__button-more(type="button") Загрузить еще

      section.features
        ul.features__list
          li.features__item.features__item--time
            .features__item-content
              img.features__icon(src="img/icons/icon-time.svg")
              p.features__name Срочный ремонт за час
                a.features__link(href="#" data-name="feature-1") Подробнее
          li.features__item.features__item--guarantee
            .features__item-content
              img.features__icon(src="img/icons/icon-guarantee.svg")
              p.features__name Гарантия на все услуги
                a.features__link(href="#" data-name="feature-2") Подробнее
          li.features__item.features__item--delivery
            .features__item-content
              img.features__icon(src="img/icons/icon-delivery.svg")
              p.features__name Бесплатная доставка
                a.features__link(href="#" data-name="feature-3") Подробнее

      section.service
        .page__container
          .title.title--text.service__title
            p.title__name.service__name Ремонт
              = " "
              span строительной
                br
                = " "
                | техники
            p.title__text.service__text Также наш сервис специализируется на ремонте и обслуживание большого спектра строительной техники. Работы проводят сертифицированные мастера.
          ul.service__list
            li.service__item
              a.service__link(href="#")
                .service__image-wrap
                  img.service__image(src="img/device-6.jpg" alt="Бензогенераторы")
                p.service__item-name Бензогенераторы
            li.service__item
              a.service__link(href="#")
                .service__image-wrap
                  img.service__image(src="img/device-7.jpg" alt="Мотопомпы")
                p.service__item-name Мотопомпы
            li.service__item
              a.service__link(href="#")
                .service__image-wrap
                  img.service__image(src="img/device-8.jpg" alt="Снегоотбрасыватели")
                p.service__item-name Снегоотбрасыватели
            li.service__item
              a.service__link(href="#")
                .service__image-wrap
                  img.service__image(src="img/device-9.jpg" alt="Мойки высокого давления")
                p.service__item-name Мойки высокого давления
            li.service__item
              a.service__link(href="#")
                .service__image-wrap
                  img.service__image(src="img/device-10.jpg" alt="Затирочные машины")
                p.service__item-name Затирочные машины
          button.button.button--light.service__button-more(type="button") Загрузить еще

      section.call
        form.call__form(method="post")
          .call__content
            p.call__title Заказать звонок мастера
            p.call__text Оставьте свой номер и мы вам перезвоним
            .call__field
              input.call__field-input(type="text" name="tel" placeholder="Ваш телефон" required)
              button.button.call__field-button(type="submit") Заказать
            p.call__caption Нажимая на кнопку «Заказать» я даю согласие на
              = " "
              a.call__caption-link(href="#") обработку персональных данных

      section.service
        .page__container
          .title.title--text.service__title
            p.title__name.service__name Ремонт
              = " "
              span садовой
                br
                = " "
                | техники
            p.title__text.service__text Наш сервисный центр производит ремонт всех самых популярных видов садовой техники. Всегда в наличии имеются оригинальные запасные части. Предоставляется выезд специалиста, доставка и гарантия.
          ul.service__list
            li.service__item
              a.service__link(href="#")
                .service__image-wrap
                  img.service__image(src="img/device-11.jpg" alt="Мотоблоки")
                p.service__item-name Мотоблоки
            li.service__item
              a.service__link(href="#")
                .service__image-wrap
                  img.service__image(src="img/device-12.jpg" alt="Райдеры")
                p.service__item-name Райдеры
            li.service__item
              a.service__link(href="#")
                .service__image-wrap
                  img.service__image(src="img/device-13.jpg" alt="Снегоуборщики")
                p.service__item-name Снегоуборщики
            li.service__item
              a.service__link(href="#")
                .service__image-wrap
                  img.service__image(src="img/device-14.jpg" alt="Газонокосилки")
                p.service__item-name Газонокосилки
            li.service__item
              a.service__link(href="#")
                .service__image-wrap
                  img.service__image(src="img/device-15.jpg" alt="Культиваторы")
                p.service__item-name Культиваторы
          button.button.button--light.service__button-more(type="button") Загрузить еще

      section.motive
        .page__container
          .motive__wrapper
            .motive__image-wrap
              img.motive__image(width="796" height="766" src="img/bg-vacancy.jpg" alt="Сервисный центр «Мастак»")
            .motive__content
              p.motive__title
                span 4 причины
                = " "
                | выбрать сервисный центр
                = " "
                span “МАСТАК”
              ul.motive__list
                li.motive__item.motive__item--1
                  p.motive__item-title Низкие цены
                  p.motive__item-text Демократичная стоимость услуг – еще одно наше конкурентное преимущество. Для удобства клиентов работаем за наличный и безналичный расчет.
                li.motive__item.motive__item--2
                  p.motive__item-title Бесплатная доставка в сервис
                  p.motive__item-text У нас есть все для профессионального ремонта техники – опытные специалисты
                li.motive__item.motive__item--3
                  p.motive__item-title Оперативная работа
                  p.motive__item-text В зависимости от сложности работ на возвращение работоспособности техники требуется от 15 минут до одного рабочего дня
                li.motive__item.motive__item--4
                  p.motive__item-title Качественное предоставление услуг
                  p.motive__item-text У нас есть все для профессионального ремонта техники – опытные специалисты

      section.team
        .page__container
          .title.team__header
            p.title__name.team__name Наша
              = " "
              span команда
            .title__buttons.team__buttons
              button.title__button.title__button--prev.team__button.team__button--prev(type="button", aria-label="Предыдущий слайд")
                svg.title__button-icon(width="16", height="11")
                  use(xlink:href="img/sprite.svg#icon-arrow")
              button.title__button.title__button--next.team__button.team__button--next(type="button", aria-label="Следующий слайд")
                svg.title__button-icon(width="16", height="11")
                  use(xlink:href="img/sprite.svg#icon-arrow")
            .title__drag
              img.title__drag-image(src="img/icons/icon-drag.gif")
          .team__container.swiper-container
            ul.team__list.swiper-wrapper
              li.team__item.swiper-slide
                .team__image-wrap
                  img.team__image(src="img/team-1.jpg" alt="Дмитрий Александрович")
                p.team__item-practice Опыт 10 лет
                p.team__item-name Дмитрий Александрович
                p.team__item-post Генеральный директор
              li.team__item.swiper-slide
                .team__image-wrap
                  img.team__image(src="img/team-2.jpg" alt="Сергей Михайлович")
                p.team__item-practice Опыт 20 лет
                p.team__item-name Сергей Михайлович
                p.team__item-post Технический директор
              li.team__item.swiper-slide
                .team__image-wrap
                  img.team__image(src="img/team-3.jpg" alt="Наталья Евгеньевна")
                p.team__item-practice Опыт 15 лет
                p.team__item-name Наталья Евгеньевна
                p.team__item-post Бухгалтер
              li.team__item.swiper-slide
                .team__image-wrap
                  img.team__image(src="img/team-4.jpg" alt="Евгений Викторович")
                p.team__item-practice Опыт 10 лет
                p.team__item-name Евгений Викторович
                p.team__item-post Специалист по логистике
              li.team__item.swiper-slide
                .team__image-wrap
                  img.team__image(src="img/team-5.jpg" alt="Владимир Анреевич")
                p.team__item-practice Опыт 5 лет
                p.team__item-name Владимир Анреевич
                p.team__item-post Специалист по приему инструментов

      section.brands
        .page__container
          .brands__wrapper
            .brands__image-wrap
              img.brands__image(width="796" height="766" src="img/brands.jpg" alt="Сервисный центр «Мастак»")
            .brands__content
              p.brands__title
                span Бренды
                = " "
                | с которыми мы работаем
              p.brands__text Часть  марок обслуживаемых нами садовой, строительной техники и электроинструмента.
              ul.brands__list
                li.brands__item
                  .brands__item-image-wrap
                    img.brands__item-image(src="img/brand-1.jpg" alt="Bosch")
                li.brands__item
                  .brands__item-image-wrap
                    img.brands__item-image(src="img/brand-2.jpg" alt="Makita")
                li.brands__item
                  .brands__item-image-wrap
                    img.brands__item-image(src="img/brand-3.jpg" alt="DeWalt")
                li.brands__item
                  .brands__item-image-wrap
                    img.brands__item-image(src="img/brand-4.jpg" alt="Metabo")
                li.brands__item
                  .brands__item-image-wrap
                    img.brands__item-image(src="img/brand-5.jpg" alt="Stanley")
                li.brands__item
                  .brands__item-image-wrap
                    img.brands__item-image(src="img/brand-6.jpg" alt="Black & Decker")
                li.brands__item
                  .brands__item-image-wrap
                    img.brands__item-image(src="img/brand-7.jpg" alt="Husqvarna")
                li.brands__item
                  .brands__item-image-wrap
                    img.brands__item-image(src="img/brand-8.jpg" alt="Partner")
                li.brands__item
                  .brands__item-image-wrap
                    img.brands__item-image(src="img/brand-9.jpg" alt="Dremel")
                li.brands__item
                  .brands__item-image-wrap
                    img.brands__item-image(src="img/brand-10.jpg" alt="Gardena")
                li.brands__item
                  .brands__item-image-wrap
                    img.brands__item-image(src="img/brand-11.jpg" alt="JET")
                li.brands__item
                  .brands__item-image-wrap
                    img.brands__item-image(src="img/brand-12.jpg" alt="FERM")

      section.center
        .center__header
          .page__container
            .title.center__title
              p.title__name.center__name Наш
                = " "
                span сервисный
                  br
                  = " "
                  | центр
              a.title__link.title__link--desktop.center__link(href="#") О сервисе
                .title__link-arrow
                  svg.title__link-icon(width="16", height="11")
                    use(xlink:href="img/sprite.svg#icon-arrow")
        .center__content
          ul.center__list
            li.center__item
              .center__item-image-wrap
                img.center__item-image(width="471" height="380" src="img/center-1.jpg" alt="Сервисный центр «Мастак»")
            li.center__item
              .center__item-image-wrap
                img.center__item-image(width="471" height="380" src="img/center-2.jpg" alt="Сервисный центр «Мастак»")
            li.center__item
              .center__item-image-wrap
                img.center__item-image(width="471" height="380" src="img/center-3.jpg" alt="Сервисный центр «Мастак»")
            li.center__item
              .center__item-image-wrap
                img.center__item-image(width="471" height="380" src="img/center-4.jpg" alt="Сервисный центр «Мастак»")
            li.center__item
              .center__item-image-wrap
                img.center__item-image(width="471" height="380" src="img/center-5.jpg" alt="Сервисный центр «Мастак»")
            li.center__item
              .center__item-image-wrap
                img.center__item-image(width="471" height="380" src="img/center-6.jpg" alt="Сервисный центр «Мастак»")
            li.center__item
              .center__item-image-wrap
                img.center__item-image(width="471" height="380" src="img/center-7.jpg" alt="Сервисный центр «Мастак»")
            li.center__item
              .center__item-image-wrap
                img.center__item-image(width="471" height="380" src="img/center-8.jpg" alt="Сервисный центр «Мастак»")
        .center__footer
          .page__container
            .title.center__title
              a.title__link.title__link--mobile.center__link(href="#") О сервисе
                .title__link-arrow
                  svg.title__link-icon(width="16", height="11")
                    use(xlink:href="img/sprite.svg#icon-arrow")

      section.cert
        .page__container
          .title.cert__title
            p.title__name.cert__name
              span Сертификаты
            a.title__link.title__link--desktop.cert__link(href="#") Все сертификаты
              .title__link-arrow
                svg.title__link-icon(width="16", height="11")
                  use(xlink:href="img/sprite.svg#icon-arrow")
            .title__drag
              img.title__drag-image(src="img/icons/icon-drag.gif")
          .cert__container.swiper-container
            ul.cert__list.swiper-wrapper
              li.cert__item.swiper-slide
                .cert__item-image-wrap
                  img.cert__item-image(src="img/cert-1.jpg" alt="Сертификат")
              li.cert__item.swiper-slide
                .cert__item-image-wrap
                  img.cert__item-image(src="img/cert-2.jpg" alt="Сертификат")
              li.cert__item.swiper-slide
                .cert__item-image-wrap
                  img.cert__item-image(src="img/cert-3.jpg" alt="Сертификат")
              li.cert__item.swiper-slide
                .cert__item-image-wrap
                  img.cert__item-image(src="img/cert-4.jpg" alt="Сертификат")
              li.cert__item.swiper-slide
                .cert__item-image-wrap
                  img.cert__item-image(src="img/cert-5.jpg" alt="Сертификат")
          .title.cert__title
            a.title__link.title__link--mobile.cert__link(href="#") Все сертификаты
              .title__link-arrow
                svg.title__link-icon(width="16", height="11")
                  use(xlink:href="img/sprite.svg#icon-arrow")

      section.reviews-block
        .page__container
          .title.reviews-block__title
            p.title__name.reviews-block__name
              span Отзывы
            a.title__link.title__link--desktop.reviews-block__link(href="#") Все отзывы
              .title__link-arrow
                svg.title__link-icon(width="16", height="11")
                  use(xlink:href="img/sprite.svg#icon-arrow")
          .reviews-block__content
            ul.reviews-block__list
              li.reviews-block__item
                article.review
                  .review__top
                    .review__user-photo-wrap
                      img.review__user-photo(src="img/review-user-1.png" alt="Михаил Петрович")
                    .review__info
                      time.review__date(datetime="2020-10-05") 05.10.2020г
                      p.review__user-name Михаил Петрович
                      .review__rating
                        .review__rating-stars
                          span.review__rating-stars-fill(style="width: 80%")
                        span.review__rating-mark 4/5
                  .review__bottom
                    p.review__text “Когда я пришел в компанию, меня приятно поразила обстановка в этом сервисе. Когда меня хорошо обслужил мастер Александр, денег взяли меньше, нежели с меня брали в другом сервисе, профессионально и быстро, не всовывали лишние услуги. Мне очень понравилось.”
              li.reviews-block__item
                article.review
                  .review__top
                    .review__user-photo-wrap
                      img.review__user-photo(src="img/review-user-2.png" alt="Александр Шолин")
                    .review__info
                      time.review__date(datetime="2020-10-05") 05.10.2020г
                      p.review__user-name Александр Шолин
                      .review__rating
                        .review__rating-stars
                          span.review__rating-stars-fill(style="width: 60%")
                        span.review__rating-mark 3/5
                  .review__bottom
                    p.review__text “Когда я пришел в компанию, меня приятно поразила обстановка в этом сервисе. Когда меня хорошо обслужил мастер Александр, денег взяли меньше, нежели с меня брали в другом сервисе, профессионально и быстро, не всовывали лишние услуги. Мне очень понравилось.”
              li.reviews-block__item
                article.review
                  .review__top
                    .review__user-photo-wrap
                      img.review__user-photo(src="img/review-user-3.png" alt="Петр Павлов")
                    .review__info
                      time.review__date(datetime="2020-10-05") 05.10.2020г
                      p.review__user-name Петр Павлов
                      .review__rating
                        .review__rating-stars
                          span.review__rating-stars-fill(style="width: 100%")
                        span.review__rating-mark 5/5
                  .review__bottom
                    p.review__text “Когда я пришел в компанию, меня приятно поразила обстановка в этом сервисе. Когда меня хорошо обслужил мастер Александр, денег взяли меньше, нежели с меня брали в другом сервисе, профессионально и быстро, не всовывали лишние услуги. Мне очень понравилось.”
          .title.reviews-block__title
            a.title__link.title__link--mobile.reviews-block__link(href="#") Все отзывы
              .title__link-arrow
                svg.title__link-icon(width="16", height="11")
                  use(xlink:href="img/sprite.svg#icon-arrow")

    include layout/footer.pug

    .overlay.overlay--popup
    section.popup.popup--data.data-popup
      button.popup__button-close(type="button" aria-label='Закрыть окно')
        svg.popup__button-close-icon(width="24", height="24")
          use(xlink:href="img/sprite.svg#icon-cross")
      form.popup__form(method='post' action='#')
        .popup__content
          p.popup__title
            | Оставьте свои данные
            span.popup__title-text И мы вам обязательно перезвоним
          .input
            input#name.input__field(type='text' name='name' placeholder='Иван')
            label.input__label(for='name') Ваше имя
          .input
            // Если в поле введены неверные данные, input добавляется класс .input__field--invalid
            input#tel.input__field(type='text' name='tel' placeholder='8 999 999 99 99' required='')
            label.input__label(for='tel') Ваш номер телефона
              span.input__label--star  *
            // Текст ошибки указывается в span с классами .input__note .input__note--invalid
            span.input__note.input__note--invalid Телефон указан неверно, пример: +7 111 222-33-44
          button.button.popup__button(type='submit') Отправить
          p.popup__caption
            | Нажимая на кнопку «Отправить» я даю согласие на обработку
            = " "
            a.popup__caption-link(href='#') персональных данных

    section#feature-1.popup.popup--feature
      button.popup__button-close(type="button" aria-label='Закрыть окно')
        svg.popup__button-close-icon(width="24", height="24")
          use(xlink:href="img/sprite.svg#icon-cross")
      .popup__content
        .popup__image-wrap
          img.popup__image(src="img/feature-popup-1.jpg")
        .popup__text
          p.popup__feature-name Гарантия на все услуги
          ul.popup__feature-list
            li.popup__feature-item 2 месяца
              span  на заменённые детали
            li.popup__feature-item 6 месяцев
              span  на детали Bosch
          p.popup__feature-caption *гарантия не распространяется на детали, относящиеся к быстроизнашиваемым или расходным

    section#feature-2.popup.popup--feature
      button.popup__button-close(type="button" aria-label='Закрыть окно')
        svg.popup__button-close-icon(width="24", height="24")
          use(xlink:href="img/sprite.svg#icon-cross")
      .popup__content
        .popup__image-wrap
          img.popup__image(src="img/feature-popup-2.jpg")
        .popup__text
          p.popup__feature-name Срочный ремонт за час
          p.popup__feature-text При наличии всех необходимых запчастей на локальном складе.

    script(src="js/swiper-bundle.min.js")
    script(src="js/fslightbox.js")
    script(src="js/index.js")

    .svg-library
      include ../img/sprite.svg
