doctype html
html(lang="ru")

  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./css/style.css")
    title Мастак. Оставьте свои данные

  body.page.no-scroll
    include layout/header.pug

    main.page-main
      .breadcrumbs
        .page__container
          ul.breadcrumbs__list
            li.breadcrumbs__item
              a.breadcrumbs__link(href="#") Главная
            li.breadcrumbs__item
              a.breadcrumbs__link Сертификаты

      section.info
        .page__container
          .info__content
            .info__description
              .title.top-info__title
                p.title__name.info__name
                  span Сертификаты
                  = " "
                  | наших
                  br
                  = " "
                  | специалистов
              p.info__text
                span Помимо этого, устройство можно применять для перевозки тяжелых грузов, а также уборки заснеженных территорий. Во время использования мотоблок часто подвергается огромным нагрузкам и работает в очень неблагоприятных условиях.
                span В связи с этим, следует делать своевременное техническое обслуживание, а иногда даже ремонт мотоблока. Для этого лучше всего обратиться к профессионалам, имеющим необходимые инструменты, оборудование, а также достаточный опыт.
              .title.info__title
                a.title__link.info___link(href="#") О компании
                  .title__link-arrow
                    svg.title__link-icon(width="16", height="11")
                      use(xlink:href="img/sprite.svg#icon-arrow")
            .banner.info__banner
              p.banner__title Закажите звонок мастера
              p.banner__text Перезвоним в течении 10 минут
              button.button.button--light.banner__button.open-data-popup(type="button") Заказать звонок

      section.all-cert
        .page__container
          .all-cert__container
            ul.all-cert__list
              li.all-cert__item
                a.all-cert__link(data-fslightbox="works" href="img/cert-1.jpg")
                  .all-cert__item-image-wrap
                    img.all-cert__item-image(src="img/cert-1.jpg" alt="Сертификат")
              li.all-cert__item
                a.all-cert__link(data-fslightbox="works" href="img/cert-2.jpg")
                  .all-cert__item-image-wrap
                    img.all-cert__item-image(src="img/cert-2.jpg" alt="Сертификат")
              li.all-cert__item
                a.all-cert__link(data-fslightbox="works" href="img/cert-3.jpg")
                  .all-cert__item-image-wrap
                    img.all-cert__item-image(src="img/cert-3.jpg" alt="Сертификат")
              li.all-cert__item
                a.all-cert__link(data-fslightbox="works" href="img/cert-4.jpg")
                  .all-cert__item-image-wrap
                    img.all-cert__item-image(src="img/cert-4.jpg" alt="Сертификат")
              li.all-cert__item
                a.all-cert__link(data-fslightbox="works" href="img/cert-5.jpg")
                  .all-cert__item-image-wrap
                    img.all-cert__item-image(src="img/cert-5.jpg" alt="Сертификат")
              li.all-cert__item
                a.all-cert__link(data-fslightbox="works" href="img/cert-3.jpg")
                  .all-cert__item-image-wrap
                    img.all-cert__item-image(src="img/cert-3.jpg" alt="Сертификат")
              li.all-cert__item
                a.all-cert__link(data-fslightbox="works" href="img/cert-1.jpg")
                  .all-cert__item-image-wrap
                    img.all-cert__item-image(src="img/cert-1.jpg" alt="Сертификат")
              li.all-cert__item
                a.all-cert__link(data-fslightbox="works" href="img/cert-5.jpg")
                  .all-cert__item-image-wrap
                    img.all-cert__item-image(src="img/cert-5.jpg" alt="Сертификат")
              li.all-cert__item
                a.all-cert__link(data-fslightbox="works" href="img/cert-2.png")
                  .all-cert__item-image-wrap
                    img.all-cert__item-image(src="img/cert-2.jpg" alt="Сертификат")
              li.all-cert__item
                a.all-cert__link(data-fslightbox="works" href="img/cert-1.jpg")
                  .all-cert__item-image-wrap
                    img.all-cert__item-image(src="img/cert-1.jpg" alt="Сертификат")

    include layout/footer.pug

    .overlay.show
    section.popup.popup--data.data-popup.show
      a.popup__button-close(aria-label='Закрыть окно')
        svg.popup__button-close-icon(width="24", height="24")
          use(xlink:href="img/sprite.svg#icon-cross")
      form.popup__form(method='post' action='#')
        .popup__content
          p.popup__title
            | Оставьте свои данные
            span.popup__title-text И мы вам обязательно перезвоним
          .input
            input#name.input__field(type='text' name='name' placeholder='Иван')
            label.input__label(for='name') Ваше имя
          .input
            // Если в поле введены неверные данные, input добавляется класс .input__field--invalid
            input#tel.input__field(type='text' name='tel' placeholder='8 999 999 99 99' required='')
            label.input__label(for='tel') Ваш номер телефона
              span.input__label--star  *
            // Текст ошибки указывается в span с классами .input__note .input__note--invalid
            span.input__note.input__note--invalid Телефон указан неверно, пример: +7 111 222-33-44
          button.button.popup__button(type='submit') Отправить
          p.popup__caption
            | Нажимая на кнопку «Отправить» я даю согласие на обработку
            a.popup__caption-link(href='#')  персональных данных

    script(src="js/swiper-bundle.min.js")
    script(src="js/fslightbox.js")
    script(src="js/index.js")

    .svg-library
      include ../img/sprite.svg
