doctype html
html(lang="ru")

  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./css/style.css")
    title Мастак. Оставить отзыв

  body.page.no-scroll
    include layout/header.pug

    main.page-main
      .breadcrumbs
        .page__container
          ul.breadcrumbs__list
            li.breadcrumbs__item
              a.breadcrumbs__link(href="#") Главная
            li.breadcrumbs__item
              a.breadcrumbs__link Отзывы

      section.reviews
        .page__container
          .title.reviews__title
            p.title__name.reviews__name
              span Отзывы
          ul#pinterest.reviews__list
            li.reviews__item
              .review-banner
                .review-banner__content
                  p.review-banner__lead Хотите оставить отзыв о сотрудничестве с&nbsp;нами&nbsp;?
                  button.button.button--light.review-banner__button Оставить отзыв
            li.reviews__item
              article.review
                .review__top
                  .review__user-photo-wrap
                    img.review__user-photo(src="img/review-user-2.png" alt="Александр Шолин")
                  .review__info
                    time.review__date(datetime="2020-10-05") 05.10.2020г
                    p.review__user-name Александр Шолин
                    .review__rating
                      .review__rating-stars
                        span.review__rating-stars-fill(style="width: 60%")
                      span.review__rating-mark 3/5
                .review__bottom
                  p.review__text
                    span Выражаю благодарность за высокое качество выполнения работ по ремонту фасадов здания и помещений колледжа, помощь в подготовке колледжа к учебному году. Надеемся на дальнейшее сотрудничество.
                    span Выражаю благодарность за высокое качество выполнения работ по ремонту фасадов здания и помещений колледжа, помощь в подготовке колледжа к учебному году. Надеемся на дальнейшее сотрудничество.
            li.reviews__item
              article.review
                .review__top
                  .review__user-photo-wrap
                    img.review__user-photo(src="img/review-user-1.png" alt="Михаил Петрович")
                  .review__info
                    time.review__date(datetime="2020-10-05") 05.10.2020г
                    p.review__user-name Михаил Петрович
                    .review__rating
                      .review__rating-stars
                        span.review__rating-stars-fill(style="width: 80%")
                      span.review__rating-mark 4/5
                .review__bottom
                  p.review__text “Когда я пришел в компанию, меня приятно поразила обстановка в этом сервисе. Когда меня хорошо обслужил мастер Александр, денег взяли меньше, нежели с меня брали в другом сервисе, профессионально и быстро, не всовывали лишние услуги. Мне очень понравилось.”лнения работ по ремонту фасадов здания и помещений колледжа, помощь в подготовке колледжа к учебному году. Надеемся на дальнейшее сотрудничество.
            li.reviews__item
              article.review
                .review__top
                  .review__user-photo-wrap
                    img.review__user-photo(src="img/review-user-1.png" alt="Михаил Петрович")
                  .review__info
                    time.review__date(datetime="2020-10-05") 05.10.2020г
                    p.review__user-name Михаил Петрович
                    .review__rating
                      .review__rating-stars
                        span.review__rating-stars-fill(style="width: 80%")
                      span.review__rating-mark 4/5
                .review__bottom
                  p.review__text
                    span Выражаю благодарность за высокое качество выполнения работ по ремонту фасадов здания и помещений колледжа, помощь в подготовке колледжа к учебному году. Надеемся на дальнейшее сотрудничество. Выражаю благодарность за высокое качество выполнения работ по ремонту фасадов здания и помещений колледжа, помощь в подготовке колледжа к учебному году. Надеемся на дальнейшее сотрудничество.
            li.reviews__item
              article.review
                .review__top
                  .review__user-photo-wrap
                    img.review__user-photo(src="img/review-user-4.png" alt="Михаил Петрович")
                  .review__info
                    time.review__date(datetime="2020-10-05") 05.10.2020г
                    p.review__user-name Михаил Петрович
                    .review__rating
                      .review__rating-stars
                        span.review__rating-stars-fill(style="width: 80%")
                      span.review__rating-mark 4/5
                .review__bottom
                  p.review__text “Когда я пришел в компанию, меня приятно поразила обстановка в этом сервисе. Когда меня хорошо обслужил мастер Александр, денег взяли меньше, нежели с меня брали в другом сервисе, профессионально и быстро, не всовывали лишние услуги. Мне очень понравилось.”
            li.reviews__item
              article.review
                .review__top
                  .review__user-photo-wrap
                    img.review__user-photo(src="img/review-user-5.png" alt="Петр Павлов")
                  .review__info
                    time.review__date(datetime="2020-10-05") 05.10.2020г
                    p.review__user-name Петр Павлов
                    .review__rating
                      .review__rating-stars
                        span.review__rating-stars-fill(style="width: 100%")
                      span.review__rating-mark 5/5
                .review__bottom
                  p.review__text “Когда я пришел в компанию, меня приятно поразила обстановка в этом сервисе. Когда меня хорошо обслужил мастер Александр, денег взяли меньше, нежели с меня брали в другом сервисе, профессионально и быстро, не всовывали лишние услуги. Мне очень понравилось.”
            li.reviews__item
              article.review
                .review__top
                  .review__user-photo-wrap
                    img.review__user-photo(src="img/review-user-6.png" alt="Михаил Петрович")
                  .review__info
                    time.review__date(datetime="2020-10-05") 05.10.2020г
                    p.review__user-name Михаил Петрович
                    .review__rating
                      .review__rating-stars
                        span.review__rating-stars-fill(style="width: 80%")
                      span.review__rating-mark 4/5
                .review__bottom
                  p.review__text “Когда я пришел в компанию, меня приятно поразила обстановка в этом сервисе. Когда меня хорошо обслужил мастер Александр, денег взяли меньше, нежели с меня брали в другом сервисе, профессионально и быстро, не всовывали лишние услуги. Мне очень понравилось.”
            li.reviews__item
              article.review
                .review__top
                  .review__user-photo-wrap
                    img.review__user-photo(src="img/review-user-1.png" alt="Михаил Петрович")
                  .review__info
                    time.review__date(datetime="2020-10-05") 05.10.2020г
                    p.review__user-name Михаил Петрович
                    .review__rating
                      .review__rating-stars
                        span.review__rating-stars-fill(style="width: 80%")
                      span.review__rating-mark 4/5
                .review__bottom
                  p.review__text “Когда я пришел в компанию, меня приятно поразила обстановка в этом сервисе. Когда меня хорошо обслужил мастер Александр, денег взяли меньше, нежели с меня брали в другом сервисе, профессионально и быстро, не всовывали лишние услуги. Мне очень понравилось.”
            li.reviews__item
              article.review
                .review__top
                  .review__user-photo-wrap
                    img.review__user-photo(src="img/review-user-1.png" alt="Петр Павлов")
                  .review__info
                    time.review__date(datetime="2020-10-05") 05.10.2020г
                    p.review__user-name Петр Павлов
                    .review__rating
                      .review__rating-stars
                        span.review__rating-stars-fill(style="width: 100%")
                      span.review__rating-mark 5/5
                .review__bottom
                  p.review__text “Когда я пришел в компанию, меня приятно поразила обстановка в этом сервисе. Когда меня хорошо обслужил мастер Александр, денег взяли меньше, нежели с меня брали в другом сервисе, профессионально и быстро, не всовывали лишние услуги. Мне очень понравилось.”

        .pagination.reviews__pagination
          .pagination__list
            a.pagination__button.pagination__button--arrow-left(href="#", aria-label="Переход на предыдущую страницу")
              svg.pagination__button-icon(width="16", height="11")
                use(xlink:href="img/sprite.svg#icon-arrow-pagination")
            .pagination__pages
              a.pagination__button.pagination__button--active(href="#", aria-label="Переход на страницу 1") 1
              a.pagination__button(href="#", aria-label="Переход на страницу 2") 2
              a.pagination__button(href="#", aria-label="Переход на страницу 3") 3
            a.pagination__button.pagination__button--arrow-right(href="#", aria-label="Переход на следующую страницу")
              svg.pagination__button-icon(width="16", height="11")
                use(xlink:href="img/sprite.svg#icon-arrow-pagination")

    include layout/footer.pug

    .overlay.overlay.show
    section.popup.popup--review.review-popup.show
      a.popup__button-close(aria-label='Закрыть окно')
        svg.popup__button-close-icon(width="24", height="24")
          use(xlink:href="img/sprite.svg#icon-cross")
      form.popup__form(method='post' action='#')
        .popup__content
          p.popup__title Оставить отзыв
          .input-double
            .input
              input#name.input__field(type='text' name='name' placeholder='Наталья')
              label.input__label(for='name') Ваше имя
            .input
              // Если в поле введены неверные данные, input добавляется класс .input__field--invalid
              input#tel.input__field(type='text' name='tel' placeholder='8 999 999 99 99' required)
              label.input__label(for='tel') Ваш номер телефона
                span.input__label--star  *
              // Текст ошибки указывается в span с классами .input__note .input__note--invalid
              span.input__note.input__note--invalid Телефон указан неверно, пример: +7 111 222-33-44
          .input
            textarea#review.input__field(type='text' name='review' placeholder='Комментарий' rows='4')
            label.input__label(for='review') Ваш отзыв
          .popup__wrap
            .rating.popup__rating
              p.rating__title Ваша оценка
              .rating__mark
                input#5-stars.rating__input.visually-hidden(name='rating' value='5' type='radio')
                label.rating__label(for='5-stars' title='5 баллов')
                  svg.rating__label-icon(width="16", height="16")
                    use(xlink:href="img/sprite.svg#icon-star")
                input#4-stars.rating__input.visually-hidden(name='rating' value='4' type='radio' checked)
                label.rating__label(for='4-stars' title='4 балла')
                  svg.rating__label-icon(width="16", height="16")
                    use(xlink:href="img/sprite.svg#icon-star")
                input#3-stars.rating__input.visually-hidden(name='rating' value='3' type='radio')
                label.rating__label(for='3-stars' title='3 балла')
                  svg.rating__label-icon(width="16", height="16")
                    use(xlink:href="img/sprite.svg#icon-star")
                input#2-stars.rating__input.visually-hidden(name='rating' value='2' type='radio')
                label.rating__label(for='2-stars' title='2 балла')
                  svg.rating__label-icon(width="16", height="16")
                    use(xlink:href="img/sprite.svg#icon-star")
                input#1-star.rating__input.visually-hidden(name='rating' value='1' type='radio')
                label.rating__label(for='1-star' title='1 балл')
                  svg.rating__label-icon(width="16", height="16")
                    use(xlink:href="img/sprite.svg#icon-star")
              p.rating__count
                span.rating__score 4
                | /5
            .file-input
              input#photo.file-input__field.visually-hidden(type='file' name='photo')
              label.file-input__label(for='photo')
                | Добавить фото
                svg.file-input__label-icon(width="19", height="20")
                  use(xlink:href="img/sprite.svg#icon-clip")
          .popup__button-wrap
            button.button.popup__button(type='submit') Отправить
            p.popup__caption
              | Нажимая на кнопку «Отправить» я даю согласие на обработку
              = " "
              a.popup__caption-link(href='#') персональных данных

    script(src="js/swiper-bundle.min.js")
    script(src="js/fslightbox.js")
    script(src="js/index.js")

    .svg-library
      include ../img/sprite.svg
