doctype html
html(lang="ru")

  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./css/style.css")
    title Мастак. Отзывы

  body.page
    include layout/header.pug

    main.page-main
      .breadcrumbs
        .page__container
          ul.breadcrumbs__list
            li.breadcrumbs__item
              a.breadcrumbs__link(href="#") Главная
            li.breadcrumbs__item
              a.breadcrumbs__link Отзывы

      section.reviews
        .page__container
          .title.reviews__title
            p.title__name.reviews__name
              span Отзывы
          ul#pinterest.reviews__list
            li.reviews__item
              .review-banner
                .review-banner__content
                  p.review-banner__lead Хотите оставить отзыв о сотрудничестве с&nbsp;нами&nbsp;?
                  button.button.button--light.review-banner__button Оставить отзыв
            li.reviews__item
              article.review
                .review__top
                  .review__user-photo-wrap
                    img.review__user-photo(src="img/review-user-2.png" alt="Александр Шолин")
                  .review__info
                    time.review__date(datetime="2020-10-05") 05.10.2020г
                    p.review__user-name Александр Шолин
                    .review__rating
                      .review__rating-stars
                        span.review__rating-stars-fill(style="width: 60%")
                      span.review__rating-mark 3/5
                .review__bottom
                  p.review__text
                    span Выражаю благодарность за высокое качество выполнения работ по ремонту фасадов здания и помещений колледжа, помощь в подготовке колледжа к учебному году. Надеемся на дальнейшее сотрудничество.
                    span Выражаю благодарность за высокое качество выполнения работ по ремонту фасадов здания и помещений колледжа, помощь в подготовке колледжа к учебному году. Надеемся на дальнейшее сотрудничество.
            li.reviews__item
              article.review
                .review__top
                  .review__user-photo-wrap
                    img.review__user-photo(src="img/review-user-1.png" alt="Михаил Петрович")
                  .review__info
                    time.review__date(datetime="2020-10-05") 05.10.2020г
                    p.review__user-name Михаил Петрович
                    .review__rating
                      .review__rating-stars
                        span.review__rating-stars-fill(style="width: 80%")
                      span.review__rating-mark 4/5
                .review__bottom
                  p.review__text “Когда я пришел в компанию, меня приятно поразила обстановка в этом сервисе. Когда меня хорошо обслужил мастер Александр, денег взяли меньше, нежели с меня брали в другом сервисе, профессионально и быстро, не всовывали лишние услуги. Мне очень понравилось.”лнения работ по ремонту фасадов здания и помещений колледжа, помощь в подготовке колледжа к учебному году. Надеемся на дальнейшее сотрудничество.
            li.reviews__item
              article.review
                .review__top
                  .review__user-photo-wrap
                    img.review__user-photo(src="img/review-user-1.png" alt="Михаил Петрович")
                  .review__info
                    time.review__date(datetime="2020-10-05") 05.10.2020г
                    p.review__user-name Михаил Петрович
                    .review__rating
                      .review__rating-stars
                        span.review__rating-stars-fill(style="width: 80%")
                      span.review__rating-mark 4/5
                .review__bottom
                  p.review__text
                    span Выражаю благодарность за высокое качество выполнения работ по ремонту фасадов здания и помещений колледжа, помощь в подготовке колледжа к учебному году. Надеемся на дальнейшее сотрудничество. Выражаю благодарность за высокое качество выполнения работ по ремонту фасадов здания и помещений колледжа, помощь в подготовке колледжа к учебному году. Надеемся на дальнейшее сотрудничество.
            li.reviews__item
              article.review
                .review__top
                  .review__user-photo-wrap
                    img.review__user-photo(src="img/review-user-4.png" alt="Михаил Петрович")
                  .review__info
                    time.review__date(datetime="2020-10-05") 05.10.2020г
                    p.review__user-name Михаил Петрович
                    .review__rating
                      .review__rating-stars
                        span.review__rating-stars-fill(style="width: 80%")
                      span.review__rating-mark 4/5
                .review__bottom
                  p.review__text “Когда я пришел в компанию, меня приятно поразила обстановка в этом сервисе. Когда меня хорошо обслужил мастер Александр, денег взяли меньше, нежели с меня брали в другом сервисе, профессионально и быстро, не всовывали лишние услуги. Мне очень понравилось.”
            li.reviews__item
              article.review
                .review__top
                  .review__user-photo-wrap
                    img.review__user-photo(src="img/review-user-5.png" alt="Петр Павлов")
                  .review__info
                    time.review__date(datetime="2020-10-05") 05.10.2020г
                    p.review__user-name Петр Павлов
                    .review__rating
                      .review__rating-stars
                        span.review__rating-stars-fill(style="width: 100%")
                      span.review__rating-mark 5/5
                .review__bottom
                  p.review__text “Когда я пришел в компанию, меня приятно поразила обстановка в этом сервисе. Когда меня хорошо обслужил мастер Александр, денег взяли меньше, нежели с меня брали в другом сервисе, профессионально и быстро, не всовывали лишние услуги. Мне очень понравилось.”
            li.reviews__item
              article.review
                .review__top
                  .review__user-photo-wrap
                    img.review__user-photo(src="img/review-user-6.png" alt="Михаил Петрович")
                  .review__info
                    time.review__date(datetime="2020-10-05") 05.10.2020г
                    p.review__user-name Михаил Петрович
                    .review__rating
                      .review__rating-stars
                        span.review__rating-stars-fill(style="width: 80%")
                      span.review__rating-mark 4/5
                .review__bottom
                  p.review__text “Когда я пришел в компанию, меня приятно поразила обстановка в этом сервисе. Когда меня хорошо обслужил мастер Александр, денег взяли меньше, нежели с меня брали в другом сервисе, профессионально и быстро, не всовывали лишние услуги. Мне очень понравилось.”
            li.reviews__item
              article.review
                .review__top
                  .review__user-photo-wrap
                    img.review__user-photo(src="img/review-user-1.png" alt="Михаил Петрович")
                  .review__info
                    time.review__date(datetime="2020-10-05") 05.10.2020г
                    p.review__user-name Михаил Петрович
                    .review__rating
                      .review__rating-stars
                        span.review__rating-stars-fill(style="width: 80%")
                      span.review__rating-mark 4/5
                .review__bottom
                  p.review__text “Когда я пришел в компанию, меня приятно поразила обстановка в этом сервисе. Когда меня хорошо обслужил мастер Александр, денег взяли меньше, нежели с меня брали в другом сервисе, профессионально и быстро, не всовывали лишние услуги. Мне очень понравилось.”
            li.reviews__item
              article.review
                .review__top
                  .review__user-photo-wrap
                    img.review__user-photo(src="img/review-user-1.png" alt="Петр Павлов")
                  .review__info
                    time.review__date(datetime="2020-10-05") 05.10.2020г
                    p.review__user-name Петр Павлов
                    .review__rating
                      .review__rating-stars
                        span.review__rating-stars-fill(style="width: 100%")
                      span.review__rating-mark 5/5
                .review__bottom
                  p.review__text “Когда я пришел в компанию, меня приятно поразила обстановка в этом сервисе. Когда меня хорошо обслужил мастер Александр, денег взяли меньше, нежели с меня брали в другом сервисе, профессионально и быстро, не всовывали лишние услуги. Мне очень понравилось.”

        .pagination.reviews__pagination
          .pagination__list
            a.pagination__button.pagination__button--arrow-left(href="#", aria-label="Переход на предыдущую страницу")
              svg.pagination__button-icon(width="16", height="11")
                use(xlink:href="img/sprite.svg#icon-arrow-pagination")
            .pagination__pages
              a.pagination__button.pagination__button--active(href="#", aria-label="Переход на страницу 1") 1
              a.pagination__button(href="#", aria-label="Переход на страницу 2") 2
              a.pagination__button(href="#", aria-label="Переход на страницу 3") 3
            a.pagination__button.pagination__button--arrow-right(href="#", aria-label="Переход на следующую страницу")
              svg.pagination__button-icon(width="16", height="11")
                use(xlink:href="img/sprite.svg#icon-arrow-pagination")

    footer.page__footer
      .top-footer
        .page__container
          .top-footer__content
            .top-footer__column-left
              .top-footer__logo
                a.top-footer__logo-link(href="")
                  img.top-footer__logo-image(width="171" height="40" src="img/icons/icon-logo.svg" alt="Логотип компании Мастак")
                p.top-footer__logo-text Профессиональный ремонт строительной техники от авторизованного сервисного центра

            .top-footer__column-center
              nav.navigation
                ul.navigation__list
                  li.navigation__item
                    input#nav-1.navigation__item-checkbox.visually-hidden(type='checkbox' name='nav')
                    label.navigation__item-name(for='nav-1')
                      | Разделы
                      svg.navigation__item-icon(width="14", height="8")
                        use(xlink:href="img/sprite.svg#icon-arrow-accordion")
                    ul.navigation__sublist
                      li.navigation__sublist-item
                        a.navigation__sublist-link(href='#') Цены
                      li.navigation__sublist-item
                        a.navigation__sublist-link(href='#') О сервисе
                      li.navigation__sublist-item
                        a.navigation__sublist-link(href='#') Сертификаты
                      li.navigation__sublist-item
                        a.navigation__sublist-link(href='#') Отзывы
                      li.navigation__sublist-item
                        a.navigation__sublist-link(href='#') Контакты
                  li.navigation__item
                    input#nav-2.navigation__item-checkbox.visually-hidden(type='checkbox' name='nav')
                    label.navigation__item-name(for='nav-2')
                      | Услуги
                      svg.navigation__item-icon(width="14", height="8")
                        use(xlink:href="img/sprite.svg#icon-arrow-accordion")
                    ul.navigation__sublist
                      li.navigation__sublist-item
                        a.navigation__sublist-link(href='#') Ремонт электроинструмента
                      li.navigation__sublist-item
                        a.navigation__sublist-link(href='#') Ремонт строительной техники
                      li.navigation__sublist-item
                        a.navigation__sublist-link(href='#') Ремонт садовой техники
                  li.navigation__item
                    input#nav-3.navigation__item-checkbox.visually-hidden(type='checkbox' name='nav')
                    label.navigation__item-name.navigation__item-name--group(for='nav-3')
                      | Контакты
                      svg.navigation__item-icon(width="14", height="8")
                        use(xlink:href="img/sprite.svg#icon-arrow-accordion")
                    .navigation__sublist.navigation__sublist--group
                      p.navigation__item-name Режим работы
                      ul.navigation__sublist
                        li.navigation__sublist-item Пн-Пт: 9:00 - 18:00
                        li.navigation__sublist-item Сб-Вс: Выходной
                      p.navigation__item-name Адрес:
                      ul.navigation__sublist
                        li.navigation__sublist-item Москва, Красная 176

            .top-footer__column-right
              .connect
                p.connect__title Свяжитесь с нами
                ul.connect__list
                  li.connect__item
                    a.connect__link.connect__link--phone(href='tel:+74956613111')
                      span.connect__link-text.connect__link-text--desktop +7 (495) 661 33 11
                      span.connect__link-text.connect__link-text--mobile
                        svg.connect__icon(width="16", height="16")
                          use(xlink:href="img/sprite.svg#icon-phone")
                        | Позвонить
                  li.connect__item
                    a.connect__link.connect__link--mail(href='mailto:info@tecsanservice.ru')
                      span.connect__link-text.connect__link-text--desktop info@tecsanservice.ru
                      span.connect__link-text.connect__link-text--mobile
                        svg.connect__icon(width="16", height="16")
                          use(xlink:href="img/sprite.svg#icon-mail")
                        | Написать на почту
                  li.connect__item
                    p.connect__item-text Задайте вопрос напрямую :
                    .connect__item-links
                      a.connect__link.connect__link--whatsapp(href='#')
                        svg.connect__icon(width="16", height="16")
                          use(xlink:href="img/sprite.svg#icon-whatsapp")
                        span WhatsApp
                      a.connect__link.connect__link--telegram(href='#')
                        svg.connect__icon(width="16", height="16")
                          use(xlink:href="img/sprite.svg#icon-telegram")
                        span Telegram

      .bottom-footer
        .page__container
          .bottom-footer__content
            p.bottom-footer__privacy
              | © МАСТАК, 2015-2021
              a.bottom-footer__privacy-link(href='#') Политика конфиденциальности

            ul.social-links.bottom-footer__social-links
              li.social-links__item
                a.social-links__link(href='#')
                  svg.social-links__icon(width="16", height="16")
                    use(xlink:href="img/sprite.svg#icon-vk")
              li.social-links__item
                a.social-links__link(href='#')
                  svg.social-links__icon(width="16", height="16")
                    use(xlink:href="img/sprite.svg#icon-fb")
              li.social-links__item
                a.social-links__link(href='#')
                  svg.social-links__icon(width="16", height="16")
                    use(xlink:href="img/sprite.svg#icon-ig")

            a.bottom-footer__develop(href='https://dragoweb.ru/')
              p.bottom-footer__develop-text Разработка и продвижение
              svg.bottom-footer__develop-icon(width="81", height="15")
                use(xlink:href="img/sprite.svg#icon-dragoweb")

    script(src="js/swiper-bundle.min.js")
    script(src="js/fslightbox.js")
    script(src="js/index.js")

    .svg-library
      include ../img/sprite.svg
