header.page-header
  .top-header
    .page__container
      .top-header__content
        .top-header__logo
          a.top-header__logo-link(href="")
            img.top-header__logo-image(width="171" height="40" src="img/icons/icon-logo.svg" alt="Логотип компании Мастак")
          p.top-header__logo-text Мы работаем с 1995 года
            span Работаем по Москве и Московской области

        .top-header__burger
          .top-header__burger-icon
            span.top-header__burger-icon-line
          p.top-header__burger-text Меню

        ul.top-header__list
          li.top-header__item
            a.top-header__link(href="#") Ремонт электроинструмента
          li.top-header__item
            a.top-header__link(href="#") Ремонт строительной техники
          li.top-header__item
            a.top-header__link(href="#") Ремонт садовой техники

        .top-header__call
          a.top-header__call-link(href="tel:89999999999") 8 999 999 99 99
          button.button.top-header__call-button(type="button") Заказать ремонт

  .bottom-header
    .page__container
      nav.bottom-header__content
        ul.bottom-header__list
          li.bottom-header__item
            a.bottom-header__link.bottom-header__link--catalog(href="#") Ремонт электроинструмента
          li.bottom-header__item
            a.bottom-header__link.bottom-header__link--catalog(href="#") Ремонт строительной техники
          li.bottom-header__item
            a.bottom-header__link.bottom-header__link--catalog(href="#") Ремонт садовой техники
          li.bottom-header__item
            a.bottom-header__link(href="#") Цены
          li.bottom-header__item
            a.bottom-header__link(href="#") О сервисе
          li.bottom-header__item
            a.bottom-header__link(href="#") Сертификаты
          li.bottom-header__item
            a.bottom-header__link(href="#") Отзывы
          li.bottom-header__item
            a.bottom-header__link(href="#") Контакты
